.Menu {
    height: 174px;
    filter: drop-shadow(0 0 2px rgba(0,0,0,0.12)) drop-shadow(0px 4px 2px rgba(0,0,0,0.24));
    background-color: #8d8d8d;

    .row {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .details {
        height: 60px;
        background-color: #333333;
        color: #fff;

        .content {
            width: 960px;
            text-align: right;
        }

        img {
            margin-right: 60px;
        }

        button {
            margin-left: 55px;
        }
    }

}