@import '../../common.scss';

footer {
    background-color: #333;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: $footer_size;

        .shan {
            width: 300px;
            height: 100%;
        }
}